:host {
  display: block;
  width: 100%;
  height: 100%;
}

nb-list {
  padding-left: 10px;
  padding-right: 10px;
}

.header-container {
  padding-left: 16px;
  padding-right: 16px;
}

.checkbox-cell {
  flex-basis: 50px;
}

.base-cell {
  flex: 1 1;
}

.load-more {
  span {
    opacity: 60%;
  }
  gap: 10px;
}
