<nb-card class="full-size" [nbSpinner]="loading" nbSpinnerSize="large" nbSpinnerStatus="primary">
  <nb-card-header>
    <div class="flex-row">
      <div *ngIf="selectEnabled" class="checkbox-cell">
        <nb-checkbox
          [checked]="allSelected"
          (checkedChange)="toggleAll()"
          status="primary"
        ></nb-checkbox>
      </div>
      <div *ngFor="let column of columns" class="base-cell">
        {{column.label}}
      </div>
      <div *ngIf="getEntryActions" class="actions-cell">
        Действия
      </div>
    </div>
  </nb-card-header>

  <nb-list nbInfiniteList>
    <nb-list-item *ngFor="let row of dataSource">
      <div *ngIf="selectEnabled" class="checkbox-cell">
        <nb-checkbox
          status="primary"
          [checked]="selectionModel.isSelected(row)"
          (checkedChange)="toggleItem(row)"
        ></nb-checkbox>
      </div>

      <div *ngFor="let column of columns" class="base-cell">
        <ng-container [ngSwitch]="column.cellType">
          <ng-template ngSwitchCase="tag">
            <nb-tag
              [status]="column.getStatus ? column.getStatus(row) : 'basic'"
              [text]="column.getValue(row)?.toString() ?? ''"
            >
            </nb-tag>
          </ng-template>

          <ng-container *ngSwitchDefault>
            {{column.getValue(row)}}
          </ng-container>
        </ng-container>
      </div>

      <div *ngIf="getEntryActions" class="actions-cell">
        <button nbButton [nbContextMenu]="mapActionItems(getEntryActions(row), row)" nbContextMenuTag="table-list-actions">
          <nb-icon icon="more-vertical-outline"></nb-icon>
        </button>
      </div>
    </nb-list-item>

    <nb-list-item *ngIf="!dataSource.length else loadMore" class="place-center-flex">
      Ничего не найдено
    </nb-list-item>

    <ng-template #loadMore>
      <nb-list-item class="load-more place-center-flex">
        <span>Показано {{dataSource.length}} записей из {{length}}</span>
        <button
          appearance="ghost"
          size="tiny"
          status="primary"
          nbButton
          [disabled]="dataSource.length >= length"
          (click)="loadMoreClick.emit()"
        >
          Загрузить ещё
        </button>
      </nb-list-item>
    </ng-template>
  </nb-list>
</nb-card>
