<nb-card class="full-size place-center-flex">
  <div>
    <h3>Вход в CRM</h3>
    <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
      <label for="username" type="email" class="label">Почта</label>
      <input id="username" formControlName="username" nbInput fullWidth fieldSize="giant">

      <label for="password" class="label">Пароль</label>
      <input formControlName="password" id="password" type="password" fieldSize="giant" fullWidth nbInput>

      <button status="primary" [disabled]="loginFormGroup.invalid" size="giant" fullWidth nbButton>Войти</button>
    </form>
  </div>
</nb-card>
