:host {
  display: block;
  height: 100%;
}

.actions-section {
  margin-bottom: 10px;
  gap: 10px;
}

.filters {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

ww-table-list {
  height: calc(100vh - 174px);
}
