<nb-layout>
  <nb-layout-header *ngIf="showToolbar$ | async" fixed>
    <button
      *ngFor="let button of toolbarItem$ | async"
      nbButton
      appearance="ghost"
      [routerLink]="button.link"
    >
      {{button.title}}
    </button>
    <span class="flex-spacer"></span>
    <nb-user
      *ngIf="currentUser$ | async as user"
      [name]="user | fullName"
      [nbContextMenu]="(profileMenuItems$ | async) || []"
    >
    </nb-user>
  </nb-layout-header>

  <nb-sidebar *ngIf="showSidebar$ | async">
    <nb-menu #menu [items]="sidebarItems" tag="sidebar"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
