:host {
  display: block;
  height: 100%;
}

.actions-section {
  margin-bottom: 10px;

  nb-toggle {
    margin-left: 10px;
  }
}

nb-card-body {
  overflow-y: auto;
}

ww-table-list {
  height: calc(100vh - 174px);
}
